<h2>商品一覧</h2>
  <div class="container">
      <div class="d-flex flex-wrap">
          <% @items.each do |item| %>
          <div class="col-md-3">
            <div><%= attachment_image_tag item, :image, format: "jpeg", size: "250x250" %></div>
            <div><%= link_to item.name,customer_item_path(item) %></div>
            <div>￥<%= item.add_tax_price.to_s(:delimited)%></div>
            </div>
          <% end %>
      </div>
  </div>