// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-brand {
  background: url("naganocake-logo3.jpg") no-repeat left center;
  background-size: contain;
  height: 75px;
  width: 250px;
}